html, body, div, h1, ul, li, p, a {
    margin: 0px;
    padding: 0px;
} 

body {
    background-color: rgb(92, 138, 138);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#333;
    text-align:center;
    font-style: italic;
    font-size: 25px;
}

#header, #footer {
    background: #333;
    color: #fff;
}

h1 {
  font-family: Helvetica;
  font-weight: 100;
  font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
}

#main-container {
    /*min-height: 100%;*/
    position: relative;
    margin-top: 32px;
    width: 100%;
}
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 206px; /* footer height, we will fix that with jquery */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    height: 206px; /* footer height if any */
}


#content-container {
    background-color: #F5D329;
    margin-left: 160px;
    margin-top: 20px;
    width: 80%;
    height:80%;
    overflow-y: auto;
    padding: 30px;
}

.allowed-hiding {
    display:none;
}

.code-snippet, .inline-code-snippet {
    background-color: rgba(0, 153, 132, 0.5);
    color: #fff;;
}

.code-snippet {
    text-align: left;
    float: left;
    margin: 20px;
    padding: 10px;
}

.inline-code-snippet {
    background-color: rgba(10,10,10,0.5);
    margin-left: 10px;
    margin-right: 10px;
}

#section-nav {
    float: left;
    /*display: inline-block;*/
}

#contacts-container {
    padding: 200px;
    padding-left: 500px;
}

#main-image {
    width: 100%;
    height: 100%;   
}










