.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.nav li {
	width: 160px;
	position: relative;
}

.nav li a, .nav li span {
	background: #333;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
}

.nav li a:hover, .nav li span:hover {
	color: #069;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 160px;
	float: left;
}

.nav ul a, .nav ul span {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.nav ul li a, .nav ul li span:hover {
	color: #069;
}

#main-navigation li {
    float: left;
}


#side-navigation {
    margin-top: 50px;
}

#side-navigation .nav ul{
    margin-left: 100%;
    margin-top: -20%;
}