body, html, div, form, input {
	margin: 0px;
	padding: 0px;
}

#form-wrapper {
	border: 1px solid black;
	border-top: 0px;
	background-color: #F5F5F0;
	width: 299px !important;
	height: 290px;
	margin-left:1px;
	margin-top:1px;
}

.green-colored {
	background-color: #97BF0D;
	color: #FFFFFF;
	text-align: center;
}

 .form-field-wrapper {
 	margin: 10px;
 }

 #form-submit-btn{
 	width: 97%;
 }

 input {
 	width: 97%;
    height: 30px;
    font-weight: bold;
    padding-left: 10px;
 }

 #form-header { 
 	width:281px;
 	padding: 10px;
	font-size: 15px;
    font-weight: bold;
 }